/************************************************************
 * ATTENTION REGLAGES DE L'INTERFACE GLOBALE.
 * NE PAS TOUCHER AUX LIGNES CI-DESSOUS
 * TRAVAILLEZ A PARTIR DE LA LIGNE 27 !!
 ************************************************************/
.page{
    width: 900px;
    margin:auto;
}
.entete{
    height: 100px;
}
.colonne_menu{
    float:left;
    width:200px;
    height:100%;
}
.colonne_contenu {
    margin-left:200px;
}
.pieddepage{
    height:50px;
}

/************************************************************
 * SAISISSEZ VOS DECLARATIONS CSS EN-DESSOUS DE CETTE LIGNE
 ************************************************************/
body{
	/* Pour avoir le choix des couleurs https://htmlcolorcodes.com/fr/noms-de-couleur/ */
    background-color:rgb(213, 217, 221); 
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-top: 0;
    padding-top: 0;
}

h1{background-color: gainsboro;
   margin: 10px; 
   margin-bottom: 20px;
   border-bottom: 5px solid rgb(6, 77, 6);
	
}
.entete{
    background-color :darkgrey;
    padding: 10px;

}
.introduction{
    font-style: italic;
    border: 2px solid  green ;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

}
.text{
    color: yellow;
}
strong{
    color: red;
    text-emphasis-color: red;
    font-weight:lighter;
}
h2{
   color: darkgreen;
   font-size:x-large; 
   margin: 20px;
   font-variant: small-caps;
}
em{
    color: blueviolet;
  text-emphasis-style:unset;
}
a{
    font-weight: bold;
    
}
a:hover { 
    background-color:yellowgreen;
    text-decoration:none;



}


.colonnes {
    background-color: deepskyblue;
}
.colonne_menu{
    background-color: gold;
}
.colonne_contenu {
    background-color: rgb(218, 228, 218);
    padding: 15px;
}
.pieddepage{
    background-color: rgb(205, 198, 198);
    line-height: 50px;
}




